* {
    margin: 0;
    padding: 0;
}

body {

    background: url(sona3.jpg) no-repeat;
    background-size: cover;

    position: relative;
}

h1 {
    text-align: center;
    font-weight: 350px;
    color: #9ce613;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#clockcontainer {
    position: relative;
    border: 7px solid #9ce613;
    margin: 50vh auto;
    background-color: red;
    height: 30vw;
    width: 30vw;
    background: url(click.jpg) no-repeat;

    border-radius: 700px;
    background-size: cover;
    margin-top: 30px;
    text-align: center;
}

#hour,
#minute,
#second {
    position: absolute;
    background: rgb(9, 241, 79);
    border-radius: 10px;
    transform-origin: bottom;

}

h3 {
    font-size: 3rem;
    color: red;
    font-weight: bolder;
    position: absolute;
    top: 42%;
    left: 47%;
}

#hour {
    width: 2.5%;
    height: 36%;
    bottom: 50%;
    left: 49%;
    opacity: 0.7;
    /* display: none; */
}

#minute {
    width: 2%;
    height: 39%;
    bottom: 50%;
    left: 49%;
    opacity: 0.6;
}

#second {
    width: 2%;
    height: 42%;
    bottom: 50%;
    left: 49%;
    opacity: 0.8;
    /* display: none; */
}

@media screen and (max-width :450px) {
    h3 {
        font-size: 3rem;
        color: red;
        font-weight: bolder;
        position: absolute;
        top: 37%;
        left: 43%;
    }

}